label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}


@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
    }
  }

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: 30px;
}
.profile-cards .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  height: 700px;
  position: relative;
  color: #2d2d2d;
  background-color: #b2e5e6;
  letter-spacing: 1px;
  border: 25px solid #a0cdcf;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.profile-cards .card .card-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  width: auto;
  height: 300px;
}
.profile-cards .card .card-description .card-description-title {
  color: black;
  font-size: 18px;
}
.profile-cards .card .card-description .card-description-profession {
  display: block;
  font-size: 16px;
}
.profile-cards .card .card-description .card-description-company {
  display: block;
  font-size: 14px;
  cursor: pointer;
}
.profile-cards .card .card-description .card-description-company:hover {
  text-decoration: underline;
}
.profile-cards .card .card-description .card-description-social {
  position: absolute;
  bottom: 40px;
}
.profile-cards .card .card-description .card-description-social .card-description-social-follow {
  display: block;
  margin-bottom: 8px;
  color: #555572;
  font-size: 14px;
}
.profile-cards .card .card-description .card-description-social ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.profile-cards .card .card-description .card-description-social ul li {
  list-style-type: none;
}
.profile-cards .card .card-description .card-description-social ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #121212;
  border-radius: 50%;
  box-shadow: 6px 6px 12px #97c3c4, -6px -6px 12px #cdffff;
  transition: all 0.4s;
}
.profile-cards .card .card-description .card-description-social ul li a:hover {
  color: white;
  transform: translate(0, -7px);
}
.profile-cards .card .card-description .card-description-social ul li a svg {
  width: calc(100% - 15px);
  height: calc(100% - 15px);
}
.profile-cards .card .card-description .card-description-social ul li:nth-child(1) a:hover {
  background-color: #1da1f2;
}
.profile-cards .card .card-description .card-description-social ul li:nth-child(2) a:hover {
  background-color: #3f729b;
}
.profile-cards .card .card-description .card-description-social ul li:nth-child(3) a:hover {
  background-color: #00405d;
}
.profile-cards .card .card-description .card-description-social ul li:nth-child(4) a:hover {
  background-color: #0a66c2;
}
.profile-cards .card .card-image {
  width: 250px;
  height: 100%;
  object-fit: cover;
}