label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}


@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
    }
  }

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgba(3, 0, 0, 0.16) 5px 5px 10px;
  padding-top: 30px;
  padding-bottom: 80px;
  border-radius: 8px;
  background-color: rgb(250, 250, 250);
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: 30px;
}
.profile-cards .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  height: 700px;
  position: relative;
  color: #2d2d2d;
  background-color: #b2e5e6;
  letter-spacing: 1px;
  border: 25px solid #a0cdcf;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.profile-cards .card .card-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  width: auto;
  height: 300px;
}
.profile-cards .card .card-description .card-description-title {
  color: black;
  font-size: 18px;
}
.profile-cards .card .card-description .card-description-profession {
  display: block;
  font-size: 16px;
}
.profile-cards .card .card-description .card-description-company {
  display: block;
  font-size: 14px;
  cursor: pointer;
}
.profile-cards .card .card-description .card-description-company:hover {
  text-decoration: underline;
}
.profile-cards .card .card-description .card-description-social {
  position: absolute;
  bottom: 40px;
}
.profile-cards .card .card-description .card-description-social .card-description-social-follow {
  display: block;
  margin-bottom: 8px;
  color: #555572;
  font-size: 14px;
}
.profile-cards .card .card-description .card-description-social ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.profile-cards .card .card-description .card-description-social ul li {
  list-style-type: none;
}
.profile-cards .card .card-description .card-description-social ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #121212;
  border-radius: 50%;
  box-shadow: 6px 6px 12px #97c3c4, -6px -6px 12px #cdffff;
  transition: all 0.4s;
}
.profile-cards .card .card-description .card-description-social ul li a:hover {
  color: white;
  transform: translate(0, -7px);
}
.profile-cards .card .card-description .card-description-social ul li a svg {
  width: calc(100% - 15px);
  height: calc(100% - 15px);
}
.profile-cards .card .card-description .card-description-social ul li:nth-child(1) a:hover {
  background-color: #1da1f2;
}
.profile-cards .card .card-description .card-description-social ul li:nth-child(2) a:hover {
  background-color: #3f729b;
}
.profile-cards .card .card-description .card-description-social ul li:nth-child(3) a:hover {
  background-color: #00405d;
}
.profile-cards .card .card-description .card-description-social ul li:nth-child(4) a:hover {
  background-color: #0a66c2;
}
.profile-cards .card .card-image {
  width: 250px;
  height: 100%;
  object-fit: cover;
}



.confirm {
  width: 360px;
  height: 250px;
  background: white;
  transition: 0.6s;
  z-index: 100;
  position: absolute;
  top: -280px;
  left: calc(50% - 180px);
  border-radius: 10px;
}

.confirm.show {
  top: calc(50% - 140px);
}

.confirm-content {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary);
  padding: 1.5rem;
}

.confirm-content h4 {
  font-size: 1.2rem;
  font-weight: 800;
  position: relative;
}

/* .confirm-content h4::after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--secondary);
  position: absolute;
  bottom: -7px;
  left: 0;
} */

.confirm-content h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 3rem;
}

.confirm-content p {
  font-size: 1.1rem;
  color: var(--gray);
  text-align: center;
  margin-top: 0.5rem;
}
/* 
.confirm-btns {
  height: 30%;
}

.confirm-btns button {
  width: 50%;
  height: 100%;
  background: var(--secondary);
  font-size: 25px;
  font-weight: 600;
  color: #160707;
  padding: 1rem 0;
  cursor: pointer;
  border-radius: 0 0 0 10px;
}

.confirm-btns button:hover {
  background: var(--secondary-dark);
  background-color: white;
} */

.overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.confirm.show + .overlay {
  display: block;
}

.button {
  background: var(--secondary);
  color: #0a0303;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  padding: 1rem 4rem;
}

@media screen and (max-width: 450px) {
  .confirm {
    width: 300px;
    left: calc(50% - 150px);
  }
}


.notification {
  color: black;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
}

.success {
  background: rgb(5, 99, 78);
}

.error {
  background: rgb(158, 25, 25);
}

.regular-shadow {
	-webkit-box-shadow: -1px 5px 5px 0px #111;
	box-shadow: -1px 5px 5px 0px #111;
}

.regular-text-shadow {
	text-shadow: 1px 1px 0 rgb(93, 95, 97);
}

.no-border {
  border: 0;
  box-shadow: none;
}


#toast {
  visibility: hidden;
  max-width: fit-content;
  height: 50px;
  /*margin-left: -125px;*/
  margin: auto;
  /*background-color: rgb(5, 99, 78);*/
  color: #fff;
  text-align: center;
  border-radius: 2px;

  position: fixed;
  z-index: 1;
  left: 0;right:0;
  bottom: 35px;
  font-size: 17px;
  white-space: nowrap;
}
#toast #img{
width: 50px;
height: 50px;
  
  float: left;
  
  padding-top: 16px;
  padding-bottom: 16px;
  
  box-sizing: border-box;

  
  background-color: #111;
}
#toast #desc{

  
  color: #fff;
  
  padding: 12px;
  
  overflow: hidden;
white-space: nowrap;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
  from {min-width: 50px} 
  to {min-width: 350px}
}

@keyframes expand {
  from {min-width: 50px}
  to {min-width: 350px}
}
@-webkit-keyframes stay {
  from {min-width: 350px} 
  to {min-width: 350px}
}

@keyframes stay {
  from {min-width: 350px}
  to {min-width: 350px}
}
@-webkit-keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 50px;}
}

@keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 60px; opacity: 0;}
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #5e17eb; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}